
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

.text-center {
  color: rgb(255, 255, 255);
  font-weight: 200;
  margin: auto;
  font-size: 3.5rem;
  animation: lights 5s 750ms linear infinite;



}


#temp {
  color: rgb(247, 244, 244);
  font-size: 25px;


}

.narrow-input {
  width: 400px;
  /* Adjust the width as needed */
}

.form-control {
  width: 400px;
  /* Adjust the width as needed */
}

#convert {
  align-items: center;
  justify-content: center;

}

/* Weather.css */

/* Default styles for larger screens */
.container {
  max-width: 1200px;
  /* Adjust as needed */
  margin: 0 auto;
}

/* Responsive styles for medium-sized screens (e.g., tablets) */
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* Add more specific styles as needed for medium-sized screens */
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  .narrow-input {
    width: 100%;
    /* Make the input full width */
  }

  .btn {
    display: block;
    /* Make the button a block element */
    width: 100%;
    /* Make the button full width */
    margin-top: 10px;
    /* Adjust margin as needed */
  }
}

/* Additional media queries for even smaller screens if needed */
@media only screen and (max-width: 576px) {
  .container {
    max-width: 480px;
    /* margin: 20px auto; */
  }

  /* Add more specific styles as needed for even smaller screens */
}